<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>欢迎 <%= login %></h1>
<img src="<%= avatar_url%>>" alt=""/>
<p><%= email%></p>
</body>
</html>